.ranking {
    background-image: url('../../assets/img/ark-ranking-page.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.container-ranking {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

.img-fluid.top{
    margin-top: 35vh;
}

@media (max-width: 1040px) {

    .img-fluid.top{
        margin-top: 46vh;
    }

}