.home {
    background-image: url('../../assets/img/ark-home-page.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}


@media (max-width: 1333px) {

        .home {
            min-height: 70vh;
        }


}