.container{
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: rgba(247, 241, 241, 0.658);
}

.nav-bar-store a{
  font-size: 25px;
  color: #545454;
}

.nav-bar-store a:focus{
  color: #540251;
}

.nav-bar-store a:hover{
  color: #540251;
}

@media (max-width: 691px) {

  .nav-bar-store a{
    font-size: 10px;
    padding: 0;
  }

}





/*.titles {
  color: #545454;
  font-size: 27px;
  margin-left: 100px;
}

.NavBarStore {
  background-color: rgba(247, 241, 241, 0.658);
  position: absolute;
  display: flex;
  margin-top: 28px;
  width: 100%;
  height: 07vh;
  min-height: 07vh;
}

.NavBarStore ul {
  list-style: none;
  display: flex;
  margin-top: 8px;
}


@media (max-width: 900px) {

  .NavBarStore {
    height: 03vh;
    min-height: 03vh;
  }

  .titles {
    font-size: 15px;
    margin-left: 80px;
  }

  .NavBarStore ul {
    list-style: none;
    display: flex;
    margin-top: 6px;
    padding-right: 70px;
  }

}

@media (max-width: 420px) {

  .NavBarStore {
    height: 03vh;
    min-height: 03vh;
  }

  .titles {
    font-size: 10px;
    margin-left: 30px;
  }

  .NavBarStore ul {
    margin-top: 1px;
  }

}*/