.container{
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: rgba(247, 241, 241, 0.658);
}

.nav-bar-store a{
  font-size: 25px;
  color: #545454;
}

.nav-bar-store a:focus{
  color: #540251;
}

.nav-bar-store a:hover{
  color: #540251;
}

@media (max-width: 691px) {

  .nav-bar-store a{
    font-size: 10px;
    padding: 0;
  }

}